.container {
    padding: 16px;
	text-align: center;
	width:30%;
}

.row1{
	text-align: center;
}

.vaclist{
    margin: auto;
    height: 60%;
    width: 50%;
    text-align: center;
}